.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
.venv/
.DS_Store
.terraform/
*.tfstate
*.tfstate.*
crash.log

*.tfvars
*.tfvars.json

.aws/

.kube/

.env
*.secret

.vscode/
.idea/

.DS_Store